<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849645276839-m2ba3dj237hf05d902uq4sddp30g3hsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849645276839-m2ba3dj237hf05d902uq4sddp30g3hsv</string>
	<key>API_KEY</key>
	<string>AIzaSyA52wWtzf4LD4zbqTjYpzv3dWFh5s4Yt0g</string>
	<key>GCM_SENDER_ID</key>
	<string>849645276839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.use</string>
	<key>PROJECT_ID</key>
	<string>ai-chatbot-e3dcc</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-chatbot-e3dcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849645276839:ios:9e32a6056d8a978371d582</string>
</dict>
</plist>